<section class="recentposts py-[5rem]">
  <div class="wrapper">
    <div class="highlighted-posts flex gap-8 relative">
      <div class="post">
        <div class="image h-[470px] w-[480px]">
          <img
            src="../../../../../assets/images/clay-banks-u27Rrbs9Dwc-unsplash.jpg"
            class="w-full h-full"
          />
        </div>
        <div class="content block p-[1.7rem] absolute top-[17.5rem]">
          <span class="category bg-primary py-1 px-2 font-[bold]"
            >Lifestyle</span
          >
          <span class="title">
            <h1 class="text-white pb-2 mt-[1rem] w-[25rem]">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            </h1>
          </span>
          <div class="details flex gap-8 text-white">
            <span class="author">Author</span>
            <span class="date">12/11/22</span>
          </div>
        </div>
      </div>
      <div class="post">
        <div class="image h-[470px] w-[480px]">
          <img
            src="../../../../../assets/images/karsten-wurth-7BjhtdogU3A-unsplash.jpg"
            class="w-full h-full"
          />
        </div>
        <div class="content block p-[1.7rem] absolute top-[17.5rem]">
          <span class="category bg-primary py-1 px-2 font-[bold]"
            >Lifestyle</span
          >
          <span class="title">
            <h1 class="text-white pb-2 mt-[1rem] w-[25rem]">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            </h1>
          </span>
          <div class="details flex gap-8 text-white">
            <span class="author">Author</span>
            <span class="date">12/11/22</span>
          </div>
        </div>
      </div>
    </div>
    <div class="recent">
      <app-post-column></app-post-column>
    </div>
  </div>
</section>
