<section class="recentposts">
  <div class="wrapper">
    <div class="highlighted-posts flex gap-8 relative">
      <div class="post">
        <div class="image h-[470px] w-[480px]">
          <a href="">
            <img
              src="../../../../../assets/images/clay-banks-u27Rrbs9Dwc-unsplash.jpg"
              class="w-full h-full"
            />
          </a>
        </div>
        <div class="content block p-[1.7rem] absolute top-[17.5rem]">
          <a href="">
            <span class="category bg-primary py-1 px-2 font-[bold]"
              >Lifestyle</span
            >
          </a>
          <span class="title">
            <a href="" class="custom-transition text-white hover:text-primary">
              <h1 class="pb-2 mt-[1rem] w-[25rem] font-[medium] text-xl">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              </h1>
            </a>
          </span>
          <div class="details flex gap-8 text-white">
            <a href=""><span class="author">Author</span></a>
            <span class="date">12/11/22</span>
          </div>
        </div>
      </div>
      <div class="post">
        <div class="image h-[470px] w-[480px]">
          <a href="">
            <img
              src="../../../../../assets/images/clay-banks-u27Rrbs9Dwc-unsplash.jpg"
              class="w-full h-full"
            />
          </a>
        </div>
        <div class="content block p-[1.7rem] absolute top-[17.5rem]">
          <a href="">
            <span class="category bg-primary py-1 px-2 font-[bold]"
              >Lifestyle</span
            >
          </a>
          <span class="title">
            <a href="" class="custom-transition text-white hover:text-primary">
              <h1 class="pb-2 mt-[1rem] w-[25rem] font-[medium] text-xl">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              </h1>
            </a>
          </span>
          <div class="details flex gap-8 text-white">
            <a href=""><span class="author">Author</span></a>
            <span class="date">12/11/22</span>
          </div>
        </div>
      </div>
    </div>
    <div class="recent pt-[3rem] grid grid-cols-2 gap-9">
      <app-post-column></app-post-column>
      <app-post-column></app-post-column>
      <app-post-column></app-post-column>
      <app-post-column></app-post-column>
    </div>
  </div>
</section>
