<section
  class="users bg-white max-w-screen-2xl 2xl:min-w-full overflow-x-hidden py-12 relative px-3 xsm:px-10 min-h-screen h-full"
  (click)="closeActions($event)"
>
  <div class="flex flex-col gap-6 min-h-screen h-full">
    <div class="flex flex-col gap-4">
      <div
        class="heading text-black text-[32px] font-[semibold] capitalize leading-9"
      >
        <h1>Users</h1>
      </div>
    </div>
    <div
      class="options data-table max-w-[380px] xxsm:max-w-[540px] xsm:max-w-sm sm:max-w-md md:max-w-lg llg:max-w-full min-w-full flex-1 max-h-[65vh] llg:max-h-[80vh] rounded-[5px] overflow-x-auto"
    >
      <table id="user-table" class="table-auto users shadow-table">
        <thead>
          <tr>
            <th>Username</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Role</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let user of users; index as i" class="cursor-pointer">
            <td class="username">
              <div
                class="image w-7 h-7 overflow-hidden rounded-[50%] flex items-center justify-center"
              >
                <img
                  src="http://localhost:3000/{{ user.image }}"
                  class="w-full h-full object-cover"
                  alt=""
                />
                <img
                  *ngIf="!user.image"
                  src="../../../../assets/images/no-image.jpg"
                  class="w-full h-full object-cover"
                  alt=""
                />
              </div>
              {{ user.username }}
            </td>
            <td>{{ user.firstname }}</td>
            <td>{{ user.lastname }}</td>
            <td *ngIf="user.role[0] === 1">Admin</td>
            <td *ngIf="user.role[0] === 0">User</td>

            <td class="relative actions">
              <input type="checkbox" name="actions" id="actions{{ i }}" />
              <label for="actions{{ i }}" class="cursor-pointer w-full">
                <img src="/assets/icons/dots.svg" alt="" />
              </label>
              <div
                class="user-options absolute bg-slate-400 bg-opacity-40 backdrop-blur-sm rounded-md py-2 px-3 z-50"
                [ngClass]="showActions ? '' : 'hidden'"
              >
                <ul class="flex flex-col gap-2 font-[semibold]">
                  <li>
                    <a href="#" class="text-red-700">Remove</a>
                  </li>
                  <li>
                    <a href="#" class="text-yellow-600">Block</a>
                  </li>
                  <li>
                    <a
                      *ngIf="user.role[0] === 0"
                      href="#"
                      class="text-green-600"
                      >Make Admin</a
                    >
                    <a
                      *ngIf="user.role[0] === 1"
                      class="text-red-500"
                      (click)="dismissAsAdmin(user._id)"
                      >Dismiss Admin</a
                    >
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
