section {
  table {
    td.actions > input {
      display: none;
    }
    td.actions > input ~ .user-options {
      display: none;
    }
    td.actions > input:checked ~ .user-options {
      display: flex;
    }
  }
}
