<div class="side-post flex items-start gap-4 relative">
  <div class="post-image w-[200px] h-[90px] overflow-hidden relative">
    <a href="#" class="flex items-center justify-center w-full h-full">
      <img src="/assets/images/post2.jpg" class="scale-[1.5]" alt="" />
    </a>
  </div>
  <div class="detailes flex flex-col mt-[-0.3rem]">
    <div class="title">
      <a href="#" class="text-base font-[bold]"
        >Lorem Ipsum is simply dummy Text of the printing
      </a>
    </div>
    <div
      class="author-date flex justify-between flex-col sm:flex-row md:flex-col lg:flex-row llg:flex-col 2xl:flex-row 2xl:gap-8 2xl:items-center"
    >
      <div class="author">
        <a href="" class="flex items-center gap-2">
          <div
            class="icon flex items-center justify-center w-4 max-h-4 overflow-hidden"
          >
            <img src="/assets/icons/author.png" class="invert" alt="" />
          </div>
          <div class="name"><span>mkzubairi</span></div>
        </a>
      </div>
      <div class="date flex items-center gap-2">
        <div
          class="icon flex items-center justify-center w-4 h-4 overflow-hidden"
        >
          <img src="/assets/icons/date.svg" class="invert" alt="" />
        </div>
        <div>
          <span>July 11, 2022</span>
        </div>
      </div>
    </div>
  </div>
  <div
    class="dots absolute top-[-1rem] right-0 text-3xl flex-col leading-[0.5rem] cursor-pointer px-3 hidden bg-white bg-opacity-50 backdrop-blur-md py-2"
    (click)="options = !options"
  >
    <span>.</span>
    <span>.</span>
    <span>.</span>
  </div>
  <div
    id="post-options"
    class="post-options absolute top-0 right-6 flex flex-col font-[bold] bg-white px-3 py-2 rounded-md bg-opacity-50 backdrop-blur-md gap-2"
    *ngIf="options === true"
  >
    <a href="">Edit</a>
    <a href="">Delete</a>
  </div>
</div>
