<section class="popular py-24">
  <div class="container mx-auto px-3 flex gap-16">
    <div class="main w-full llg:w-2/3">
      <div class="post" *ngIf="blogpost$ | async as blogpost">
        <div class="post-image w-full h-[500px] relative overflow-hidden">
          <a class="w-full h-full">
            <img
              src="http://localhost:3000/{{ blogpost.image }}"
              class="scale-[2]"
              alt=""
            />
          </a>
        </div>
        <div class="details flex flex-col gap-4 sm:mt-8">
          <div class="category uppercase">
            <a
              (click)="sendCategory(blogpost)"
              class="bg-primary border border-transparent text-black custom-transition hover:bg-black hover:bg-opacity-60 hover:backdrop-blur-md hover:text-primary hover:border-primary font-[bold] px-3 py-1 cursor-pointer"
            >
              <span>{{ blogpost.category }}</span>
            </a>
          </div>
          <div class="title">
            <a>
              <h2 class="text-2xl font-[bold]">
                {{ blogpost.title }}
              </h2>
            </a>
          </div>
          <div class="author-date flex gap-16 items-center">
            <div class="author">
              <a class="flex items-center gap-2">
                <div
                  class="icon flex items-center justify-center w-4 max-h-4 overflow-hidden"
                >
                  <img src="/assets/icons/author.png" class="invert" alt="" />
                </div>
                <div class="name"><span>mkzubairi</span></div>
              </a>
            </div>
            <div class="date flex items-center gap-2">
              <div
                class="icon flex items-center justify-center w-4 h-4 overflow-hidden"
              >
                <img src="/assets/icons/date.svg" class="invert" alt="" />
              </div>
              <div>
                <span>July 11, 2022</span>
              </div>
            </div>
          </div>
          <div class="description">
            <p>
              {{ blogpost.body }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <aside class="sidebar w-1/3 llg:flex flex-col gap-16 hidden">
      <div class="search flex border-border border items-center">
        <div class="input" class="flex-1">
          <input
            type="text"
            placeholder="Search"
            class="w-full text-lg px-4 py-6"
          />
        </div>
        <a>
          <div class="icon px-4">
            <img src="/assets/icons/search.svg" alt="" />
          </div>
        </a>
      </div>
      <div class="sidebar-posts flex flex-col gap-8 uppercase">
        <h2 class="text-2xl font-[bold] text-center">most popular</h2>
        <app-popular-sidebar-posts></app-popular-sidebar-posts>
        <app-anonymous-post></app-anonymous-post>
      </div>
    </aside>
  </div>
</section>

<app-footer></app-footer>
