<section class="footer bg-black py-[2rem] llg:py-[10rem]">
  <div class="container mx-auto px-3">
    <div
      class="wrapper flex flex-col gap-8 llg:grid llg:grid-cols-3 llg:gap-[5rem]"
    >
      <div class="popular text-white">
        <div class="heading uppercase font-bold pb-8">
          <span> popular </span>
        </div>
        <div class="posts">
          <app-sidebar-post></app-sidebar-post>
        </div>
      </div>
      <div class="gallery text-white">
        <div class="heading uppercase font-bold pb-8">
          <span>Gallary</span>
        </div>
        <div class="posts">
          <div class="img flex flex-col gap-8 md:grid md:grid-cols-2 md:gap-2">
            <img src="../../../assets/images/post1.jpg" class="h-full w-full" />
            <img
              src="../../../assets/images/clay-banks-u27Rrbs9Dwc-unsplash.jpg"
              class="h-full w-full"
            />
            <img src="../../../assets/images/post3.jpg" class="h-full w-full" />
            <img src="../../../assets/images/post2.jpg" class="h-full w-full" />
          </div>
        </div>
      </div>
      <div class="latest text-white">
        <div class="heading uppercase font-bold pb-8">
          <span>Latest</span>
        </div>
        <div class="posts">
          <app-sidebar-post></app-sidebar-post>
        </div>
      </div>
    </div>
    <div class="@ uppercase text-white text-center text-[0.7rem] pt-[8rem]">
      @2022 all rights reserved cybrnode.com
    </div>
  </div>
</section>
