<section class="footer bg-black py-[2rem] llg:py-[10rem]">
  <div class="container mx-auto px-3">
    <div
      class="wrapper flex flex-col gap-8 llg:grid llg:grid-cols-3 llg:gap-[5rem]"
    >
      <div class="popular text-white">
        <div class="heading uppercase font-bold pb-8 text-2xl">
          <h1>Popular</h1>
        </div>
        <div class="footer-popular-posts">
          <div class="wrapper flex flex-col gap-6">
            <div
              class="fp-post flex items-start gap-4 relative"
              *ngFor="let post of fpPosts; index as i"
            >
              <div
                class="post-image w-[100px] h-[90px] overflow-hidden relative"
              >
                <a
                  (click)="populateSinglePostData(post)"
                  class="flex items-center justify-center w-full h-full cursor-pointer"
                >
                  <img
                    src="http://localhost:3000/{{ post.image }}"
                    class="scale-[1.5]"
                    alt=""
                  />
                </a>
              </div>
              <div class="detailes flex flex-col">
                <div class="title">
                  <a
                    (click)="populateSinglePostData(post)"
                    class="text-base font-[bold] cursor-pointer"
                    >{{ post.title }}</a
                  >
                </div>
                <div
                  class="author-date flex justify-between flex-col sm:flex-row md:flex-col lg:flex-row llg:flex-col 2xl:flex-row 2xl:gap-8 2xl:items-center text-sm gap-2"
                >
                  <div class="author">
                    <a href="" class="flex items-center gap-2">
                      <div
                        class="icon flex items-center justify-center w-4 max-h-4 overflow-hidden"
                      >
                        <img
                          src="/assets/icons/author.png"
                          class="invert-100"
                          alt=""
                        />
                      </div>
                      <div class="name"><span>mkzubairi</span></div>
                    </a>
                  </div>
                  <div class="date flex items-center gap-2">
                    <div
                      class="icon flex items-center justify-center w-4 h-4 overflow-hidden"
                    >
                      <img
                        src="/assets/icons/date.svg"
                        class="invert-100"
                        alt=""
                      />
                    </div>
                    <div>
                      <span>July 11, 2022</span>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="cdots absolute top-2 right-0 text-5xl flex flex-col leading-3 justify-center items-center cursor-pointer px-2 text-yellow-300 bg-border py-2 bg-opacity-40 backdrop-blur-sm"
                [ngClass]="'fp-dots' + i"
              >
                <img src="/assets/icons/dots.png" class="rotate-90" alt="" />
              </div>
              <div
                class="post-options absolute top-8 right-6 hidden flex-col font-[bold] bg-white px-3 py-2 rounded-md bg-opacity-50 backdrop-blur-md gap-2 text-black"
                [ngClass]="'fp-options' + i"
              >
                <a
                  (click)="sendDetailstoUpdatePage(post)"
                  class="block cursor-pointer hover:text-green-800"
                  >Edit</a
                >
                <a
                  class="cursor-pointer hover:text-red-700"
                  [ngClass]="'fp-delete' + i"
                  >Delete</a
                >
              </div>
              <div
                class="delete-confirmation absolute top-0 w-full h-full bg-black backdrop-blur-sm bg-opacity-70 z-50 hidden justify-center text-center items-center"
                [ngClass]="'fp-confirmation' + i"
              >
                <div class="wrapper flex flex-col gap-3">
                  <span class="text-2xl font-[bold] text-white"
                    >Do you really want to delete?</span
                  >
                  <div
                    class="actions w-full flex justify-center items-center gap-2"
                  >
                    <a
                      class="cursor-pointer text-xl font-[medium] bg-primary bg-opacity-70 py-2 px-4 rounded-md custom-transition hover:bg-opacity-100 shadow-md"
                      [ngClass]="'fp-No' + i"
                      >No</a
                    >
                    <a
                      (click)="deletePost(post._id, post.image)"
                      class="cursor-pointer text-xl font-[medium] bg-red-700 py-2 px-4 rounded-md text-white custom-transition hover:bg-red-900 shadow-md"
                      >Yes</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gallery text-white">
        <div class="heading uppercase font-bold pb-8 text-2xl">
          <h1>Gallery</h1>
        </div>
        <div class="posts">
          <div class="img flex flex-col gap-8 md:grid md:grid-cols-2 md:gap-2">
            <img src="../../../assets/images/post1.jpg" class="h-full w-full" />
            <img
              src="../../../assets/images/clay-banks-u27Rrbs9Dwc-unsplash.jpg"
              class="h-full w-full"
            />
            <img src="../../../assets/images/post3.jpg" class="h-full w-full" />
            <img src="../../../assets/images/post2.jpg" class="h-full w-full" />
          </div>
        </div>
      </div>
      <div class="latest text-white">
        <div class="heading uppercase text-2xl font-bold pb-8">
          <h1>Latest</h1>
        </div>
        <app-latest-posts></app-latest-posts>
      </div>
    </div>
    <div class="@ uppercase text-white text-center text-[0.7rem] pt-[8rem]">
      &copy; 2022 all rights reserved cybrnode.com
    </div>
  </div>
</section>
