<div class="sidebar-social-links flex flex-col gap-4">
  <a href="">
    <div class="link facebook flex">
      <div
        class="icon w-1/4 flex items-center justify-center text-center py-6 bg-[#5872a7]"
      >
        <img src="/assets/icons/facebook2.svg" alt="" />
      </div>
      <div class="title flex items-center pl-8 w-3/4 text-white bg-[#3b5998]">
        <span>Facebook</span>
      </div>
    </div>
  </a>

  <a href="">
    <div class="link twitter flex">
      <div
        class="icon w-1/4 flex items-center justify-center text-center py-6 bg-[#26b8f0]"
      >
        <img src="/assets/icons/twitter2.svg" alt="" />
      </div>
      <div class="title flex items-center pl-8 w-3/4 text-white bg-[#00aced]">
        <span>Twitter</span>
      </div>
    </div>
  </a>

  <a href="">
    <div class="link instagram flex">
      <div
        class="icon w-1/4 flex items-center justify-center text-center py-6 bg-[#0986c7]"
      >
        <img src="/assets/icons/instagram2.svg" class="invert" alt="" />
      </div>
      <div class="title flex items-center pl-8 w-3/4 text-white bg-[#0077b5]">
        <span>Instagram</span>
      </div>
    </div>
  </a>

  <a href="">
    <div class="link youtube flex">
      <div
        class="icon w-1/4 flex items-center justify-center text-center py-6 bg-[#e65947]"
      >
        <img src="/assets/icons/youtube2.svg" alt="" />
      </div>
      <div class="title flex items-center pl-8 w-3/4 text-white bg-[#dd4b39]">
        <span>Youtube</span>
      </div>
    </div>
  </a>
</div>
