<section class="sign-up py-12 min-h-screen flex items-center relative">
  <div class="container mx-auto px-4 flex flex-col items-center relative">
    <div
      class="go-back sticky self-start w-[50px] h-[50px] top-0 left-0 xsm:top-12 xsm:left-12"
    >
      <a
        [routerLink]="['/']"
        title="Back to Home page"
        class="bg-white block bg-opacity-50 custom-transition hover:bg-opacity-60 backdrop-blur-sm p-3 rounded-[50%]"
      >
        <img src="/assets/icons/back.png" alt="" />
      </a>
    </div>
    <h1 class="text-4xl font-[bold] text-primary text-center mb-12 uppercase">
      register
    </h1>
    <div class="wrapper w-full sm:w-2/3">
      <form
        class="grid grid-cols-2 gap-6"
        *ngIf="signUpForm"
        [formGroup]="signUpForm"
        (ngSubmit)="submitAuthForm()"
      >
        <div class="form-group md:col-span-1 col-span-2">
          <label for="fname" class="text-white font-[bold]">First Name</label>
          <div
            class="bg-slate-400 bg-opacity-20 backdrop-blur-sm rounded-lg overflow-hidden mt-1"
          >
            <input
              type="text"
              name="fname"
              placeholder="Enter First Name"
              formControlName="firstname"
            />
          </div>
        </div>

        <div class="form-group md:col-span-1 col-span-2">
          <label for="lname" class="text-white font-[bold]">Last Name</label>
          <div
            class="bg-slate-400 bg-opacity-20 backdrop-blur-sm rounded-lg overflow-hidden mt-1"
          >
            <input
              type="text"
              name="lname"
              placeholder="Enter Last Name"
              formControlName="lastname"
            />
          </div>
        </div>

        <div class="form-group col-span-2">
          <label for="username" class="text-white font-[bold]">Username</label>
          <div
            class="bg-slate-400 bg-opacity-20 backdrop-blur-sm rounded-lg overflow-hidden mt-1"
          >
            <input
              type="text"
              name="username"
              placeholder="Enter username"
              formControlName="username"
            />
          </div>
        </div>
        <div class="form-group col-span-2">
          <label for="password" class="text-white font-[bold]">Password</label>
          <div
            class="pass flex bg-slate-400 bg-opacity-20 backdrop-blur-sm rounded-lg overflow-hidden mt-1"
          >
            <input
              type="password"
              name="password"
              placeholder="Enter Password"
              class="flex-1"
              id="pass-input"
              formControlName="password"
            />
            <div class="show-icon cursor-pointer flex items-center">
              <div
                class="image flex items-center justify-center overflow-hidden px-4"
              >
                <img
                  src="/assets/icons/eye-black.png"
                  class="w-[30px] h-[30px]"
                  alt=""
                  *ngIf="!show"
                />
                <img
                  src="/assets/icons/eye-white.png"
                  class="w-[30px] h-[30px]"
                  alt=""
                  *ngIf="show"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="form-group col-span-2">
          <label for="password" class="text-white font-[bold]"
            >Confirm Password</label
          >
          <div
            class="con-pass flex bg-slate-400 bg-opacity-20 backdrop-blur-sm rounded-lg overflow-hidden mt-1"
          >
            <input
              type="password"
              name="password"
              placeholder="Confirm Password"
              class="flex-1"
              id="con-pass-input"
              formControlName="confirmpassword"
            />
          </div>
        </div>
        <div class="form-group role">
          <input
            type="number"
            name="role"
            hidden
            value="{{ 0 }}"
            formControlName="role"
          />
        </div>
        <div class="form-group col-span-2 mt-3">
          <label
            for="image"
            class="text-primary bg-slate-600 bg-opacity-40 custom-transition hover:bg-opacity-50 py-2 px-4 cursor-pointer rounded-lg"
          >
            Choose an image
          </label>
          <input
            type="file"
            class="hidden"
            id="image"
            (change)="attachFile($event)"
          />
          <div class="image w-full xsm:w-[450px] overflow-hidden mt-3">
            <img
              alt=""
              class="p-[0.5rem] w-full scale-2"
              *ngIf="selectedImage"
              src="{{ selectedImage }}"
            />
          </div>
        </div>
        <div>
          <button
            [disabled]="signUpForm.invalid"
            type="submit"
            class="cursor-pointer bg-primary font-[bold] px-6 py-3 rounded-md custom-transition hover:ml-3"
          >
            Register
          </button>
        </div>
      </form>
      <div class="forgot text-center mt-3">
        <a
          [routerLink]="['/authentication/login']"
          class="font-[medium] text-slate-500 hover:text-white"
          >Already have an account?</a
        >
      </div>
    </div>
  </div>
</section>
