<section class="footer bg-black py-[2rem] llg:py-[10rem]">
  <div class="container mx-auto px-3">
    <div
      class="wrapper flex flex-col gap-8 llg:grid llg:grid-cols-3 llg:gap-[5rem]"
    >
      <div class="popular text-white">
        <div class="heading uppercase font-bold pb-8 text-2xl">
          <h1>Popular</h1>
        </div>
        <div class="footer-popular-posts">
          <div class="wrapper flex flex-col gap-6">
            <div
              class="fp-post flex items-start gap-4 relative"
              *ngFor="
                let post of footerPosts$ | async;
                index as i;
                trackBy: trackByFunc
              "
            >
              <div class="post-image relative">
                <a
                  (click)="moveToSinglePostPage(post._id)"
                  class="flex items-center justify-center w-[100px] h-[90px] overflow-hidden cursor-pointer"
                >
                  <img
                    src="http://localhost:3000/{{ post.image }}"
                    class="scale-[1.5]"
                    alt=""
                  />
                </a>
              </div>
              <div class="detailes flex flex-col w-full">
                <div class="title w-[90%]">
                  <a
                    (click)="moveToSinglePostPage(post._id)"
                    class="text-base font-[bold] cursor-pointer"
                    >{{ post.title.substring(0, 60) + "..." }}</a
                  >
                </div>
                <div
                  class="author-date flex justify-between flex-col sm:flex-row md:flex-col lg:flex-row llg:flex-col 2xl:flex-row 2xl:gap-8 2xl:items-center text-sm gap-2"
                >
                  <div class="author">
                    <a href="" class="flex items-center gap-2">
                      <div
                        class="icon flex items-center justify-center w-4 max-h-4 overflow-hidden"
                      >
                        <img
                          src="/assets/icons/author.png"
                          class="invert-100"
                          alt=""
                        />
                      </div>
                      <div class="name" *ngIf="post.author">
                        <span
                          (click)="moveToAuthorPostsPage(post.author._id)"
                          >{{ post.author.firstname }}</span
                        >
                      </div>
                    </a>
                  </div>
                  <div class="date flex items-center gap-2">
                    <div
                      class="icon flex items-center justify-center w-4 h-4 overflow-hidden"
                    >
                      <img
                        src="/assets/icons/date.svg"
                        class="invert-100"
                        alt=""
                      />
                    </div>
                    <div>
                      <span>{{ post.createdAt | date }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gallery text-white">
        <div class="heading uppercase font-bold pb-8 text-2xl">
          <h1>Gallery</h1>
        </div>
        <div class="posts">
          <div class="img flex flex-col gap-8 md:grid md:grid-cols-2 md:gap-2">
            <img src="../../../assets/images/post1.jpg" class="h-full w-full" />
            <img
              src="../../../assets/images/clay-banks-u27Rrbs9Dwc-unsplash.jpg"
              class="h-full w-full"
            />
            <img src="../../../assets/images/post3.jpg" class="h-full w-full" />
            <img src="../../../assets/images/post2.jpg" class="h-full w-full" />
          </div>
        </div>
      </div>
      <div class="latest text-white">
        <div class="heading uppercase text-2xl font-bold pb-8">
          <h1>Latest</h1>
        </div>
        <app-latest-posts></app-latest-posts>
      </div>
    </div>
    <div class="@ uppercase text-white text-center text-[0.7rem] pt-[8rem]">
      &copy; 2022 all rights reserved cybrnode.com
    </div>
  </div>
</section>
