<div class="bigPost">
  <div class="big-post" *ngFor="let post of highlightedPosts">
    <div class="post-image w-full h-[500px] relative overflow-hidden">
      <a
        (click)="moveToSinglePostPage(post._id)"
        class="w-full h-full cursor-pointer"
      >
        <img
          src="http://localhost:3000/{{ post.image }}"
          class="scale-[2]"
          alt=""
        />
      </a>
    </div>
    <div class="details flex flex-col gap-4 sm:mt-8">
      <div class="category uppercase">
        <a
          (click)="moveToCategoryPostPage(post.category)"
          class="bg-primary border border-transparent text-black custom-transition hover:bg-black hover:bg-opacity-60 hover:backdrop-blur-md hover:text-primary hover:border-primary font-[bold] px-3 py-1 cursor-pointer"
        >
          <span>{{ post.category }}</span>
        </a>
      </div>
      <div class="title">
        <a href="">
          <h2 class="text-2xl font-[bold]">
            {{ post.title }}
          </h2>
        </a>
      </div>
      <div class="author-date flex gap-16 items-center">
        <div class="author">
          <a href="" class="flex items-center gap-2">
            <div
              class="icon flex items-center justify-center w-4 max-h-4 overflow-hidden"
            >
              <img src="/assets/icons/author.png" class="invert" alt="" />
            </div>
            <div class="name"><span>mkzubairi</span></div>
          </a>
        </div>
        <div class="date flex items-center gap-2">
          <div
            class="icon flex items-center justify-center w-4 h-4 overflow-hidden"
          >
            <img src="/assets/icons/date.svg" class="invert" alt="" />
          </div>
          <div>
            <span>July 11, 2022</span>
          </div>
        </div>
      </div>
      <div class="description">
        <p>{{ post.body.substring(0, 1000) + "..." }}</p>
      </div>
    </div>
  </div>
</div>
