<section class="posts-col">
  <div class="wrapper flex flex-col gap-9">
    <div class="post flex gap-4">
      <div class="image h-[140px] w-[150px]">
        <a href="">
          <img
            src="../../../assets/images/wallpaperflare.com_wallpaper (4).jpg"
            class="w-full h-full"
          />
        </a>
      </div>
      <div class="content">
        <span class="title">
          <a href="" class="hover:text-primary custom-transition">
            <h1 class="w-[19.2rem] pb-[1rem] font-bold">
              Lorem, ipsum dolor sit amet consectetur.
            </h1>
          </a>
        </span>
        <div class="details flex gap-8">
          <a href="" class="author">Author</a>
          <span class="date">12/11/22</span>
        </div>
      </div>
    </div>
  </div>
</section>
