<div class="card flex flex-col p-7 shadow-card rounded-xl gap-11">
  <div class="title-icon self-start flex flex-col gap-[6px]">
    <div class="icon">
      <img [src]="icon" alt="" />
    </div>
    <div class="title">
      <span class="capitalize text-xl font-[semibold]">{{ title }}</span>
    </div>
  </div>
  <div class="businesses text-right self-end w-full">
    <div class="number text-5xl font-[bold]">
      <span>{{ number }}</span>
    </div>
    <span class="text-sm text-text block">{{ label }}</span>
  </div>
</div>
