<div class="mt-16">
  <div class="all-posts flex flex-col gap-16">
    <div
      class="all-post flex flex-col sm:flex-row gap-8 relative"
      *ngFor="
        let post of allPosts
          | paginate
            : {
                id: 'paginate',
                itemsPerPage: 4,
                currentPage: page,
                totalItems: allPosts.length
              };
        index as i
      "
    >
      <div
        class="post-image w-full sm:w-1/3 h-[200px] xsm:h-[350px] sm:h-[178px] relative overflow-hidden flex items-center justify-center"
      >
        <a
          (click)="moveToSinglePostPage(post._id)"
          class="w-full h-full cursor-pointer"
        >
          <img
            src="http://localhost:3000/{{ post.image }}"
            class="scale-[2]"
            alt=""
          />
        </a>
      </div>
      <div class="details flex flex-1 flex-col gap-3 xsm:mt-2">
        <div class="category uppercase">
          <a
            (click)="moveToCategoryPostPage(post.category)"
            class="bg-primary border border-transparent text-black custom-transition hover:bg-black hover:bg-opacity-60 hover:backdrop-blur-md hover:text-primary hover:border-primary font-[bold] px-3 py-1 cursor-pointer"
          >
            <span>{{ post.category }}</span>
          </a>
        </div>
        <div class="title">
          <a (click)="moveToSinglePostPage(post._id)">
            <h2 class="text-base font-[bold] cursor-pointer">
              {{ post.title.substring(0, 60) + "..." }}
            </h2>
          </a>
        </div>
        <div class="author-date flex gap-16 items-center text-sm">
          <div class="author">
            <a href="" class="flex items-center gap-2">
              <div
                class="icon flex items-center justify-center w-4 max-h-4 overflow-hidden"
              >
                <img src="/assets/icons/author.png" class="invert" alt="" />
              </div>
              <div class="name" *ngIf="post.author">
                <span (click)="moveToAuthorPostsPage(post.author._id)">{{
                  post.author.firstname
                }}</span>
              </div>
            </a>
          </div>
          <div class="date flex items-center gap-2">
            <div
              class="icon flex items-center justify-center w-4 h-4 overflow-hidden"
            >
              <img src="/assets/icons/date.svg" class="invert" alt="" />
            </div>
            <div>
              <span>{{ post.createdAt | date }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pagination mt-16">
    <div class="wrapper flex flex-wrap">
      <pagination-controls
        id="paginate"
        [maxSize]="7"
        (pageChange)="page = $event"
      >
      </pagination-controls>
    </div>
  </div>
</div>
