<section class="popular py-24">
  <div class="container mx-auto px-3 flex gap-16">
    <div class="main w-full llg:w-2/3">
      <div class="post">
        <div class="post-image w-full h-[500px] relative overflow-hidden">
          <a href="" class="w-full h-full">
            <img src="/assets/images/post1.jpg" class="scale-[2]" alt="" />
          </a>
        </div>
        <div class="details flex flex-col gap-4 sm:mt-8">
          <div class="category uppercase">
            <a
              href=""
              class="bg-primary border border-transparent text-black custom-transition hover:bg-black hover:bg-opacity-60 hover:backdrop-blur-md hover:text-primary hover:border-primary font-[bold] px-3 py-1"
            >
              <span>sddsd</span>
            </a>
          </div>
          <div class="title">
            <a href="">
              <h2 class="text-2xl font-[bold]">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
                eligendi ratione eum.
              </h2>
            </a>
          </div>
          <div class="author-date flex gap-16 items-center">
            <div class="author">
              <a href="" class="flex items-center gap-2">
                <div
                  class="icon flex items-center justify-center w-4 max-h-4 overflow-hidden"
                >
                  <img src="/assets/icons/author.png" class="invert" alt="" />
                </div>
                <div class="name"><span>mkzubairi</span></div>
              </a>
            </div>
            <div class="date flex items-center gap-2">
              <div
                class="icon flex items-center justify-center w-4 h-4 overflow-hidden"
              >
                <img src="/assets/icons/date.svg" class="invert" alt="" />
              </div>
              <div>
                <span>July 11, 2022</span>
              </div>
            </div>
          </div>
          <div class="description">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur
              rerum quis ab, culpa sunt quae nemo modi quo qui id voluptas ad
              provident similique vitae adipisci quam blanditiis autem
              repudiandae cumque. Officia, dolor reprehenderit. Vero veritatis
              quam atque. Quos blanditiis iusto debitis ab veritatis. Illum
              ratione quidem dolore suscipit totam enim? Earum, cumque sapiente
              necessitatibus deleniti delectus fuga amet consequatur veritatis
              recusandae saepe quaerat numquam ex. Quae eaque, explicabo saepe
              reiciendis impedit soluta dolore ut quaerat. Est maiores sit
              accusantium praesentium fuga quis recusandae dolor laborum.
              Dignissimos nihil vitae atque esse nesciunt cupiditate culpa
              asperiores corrupti in! Molestias vero blanditiis id error illo
              autem. Eum, odio. Sit modi numquam architecto veritatis ipsa harum
              eius dignissimos perspiciatis corporis, officia amet minima,
              provident illo voluptatem illum? Voluptate veritatis assumenda,
              nobis adipisci, expedita consectetur dolorum vitae, saepe eveniet
              minus iure ullam aliquid soluta minima? Animi eveniet voluptas
              quidem harum maxime? Necessitatibus, sint iusto.
            </p>
          </div>
        </div>
      </div>
    </div>
    <aside class="sidebar w-1/3 llg:flex flex-col gap-16 hidden">
      <div class="search flex border-border border items-center">
        <div class="input" class="flex-1">
          <input
            type="text"
            placeholder="Search"
            class="w-full text-lg px-4 py-6"
          />
        </div>
        <a href="">
          <div class="icon px-4">
            <img src="/assets/icons/search.svg" alt="" />
          </div>
        </a>
      </div>
      <div class="sidebar-posts flex flex-col gap-8 uppercase">
        <h2 class="text-2xl font-[bold] text-center">most popular</h2>
        <app-popular-sidebar-posts></app-popular-sidebar-posts>
        <app-anonymous-post></app-anonymous-post>
      </div>
    </aside>
  </div>
</section>

<app-footer></app-footer>
