<nav>
  <div class="container mx-auto px-3">
    <div class="wrapper py-8">
      <div class="logo text-3xl font-[black] text-white text-center">
        <a href="/">Traverlerbies</a>
      </div>
      <ul
        class="text-white text-base flex flex-col xsm:flex-row items-center justify-center gap-5 xsm:gap-10 mt-6"
      >
        <li>
          <a
            [routerLink]="['']"
            [routerLinkActive]="'font-bold text-primary'"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li>
          <a
            [routerLink]="['#']"
            [routerLinkActive]="'font-bold text-primary'"
            [routerLinkActiveOptions]="{ exact: true }"
            >About</a
          >
        </li>
        <li>
          <a
            [routerLink]="['#']"
            [routerLinkActive]="'font-bold text-primary'"
            [routerLinkActiveOptions]="{ exact: true }"
            >Contact</a
          >
        </li>
        <li>
          <a
            [routerLink]="['#']"
            [routerLinkActive]="'font-bold text-primary'"
            [routerLinkActiveOptions]="{ exact: true }"
            >Faqs</a
          >
        </li>
        <li
          *ngIf="optionsAfter_UserLogsIn === true"
          class="rounded-lg font-[bold] shadow-lg custom-transition"
        >
          <a
            [routerLink]="['posts/create']"
            [routerLinkActive]="'font-bold text-primary'"
            [routerLinkActiveOptions]="{ exact: true }"
            >Add Post</a
          >
        </li>

        <li
          *ngIf="optionsAfter_UserLogsIn === false"
          class="rounded-lg font-[bold] shadow-lg custom-transition"
        >
          <a
            [routerLink]="['login']"
            [routerLinkActive]="'font-bold text-primary'"
            [routerLinkActiveOptions]="{ exact: true }"
            >Login</a
          >
        </li>
        <li
          *ngIf="optionsAfter_UserLogsIn === false"
          class="get-started text-center"
        >
          <a
            [routerLink]="['signup']"
            class="text-sm bg-primary border rounded-lg custom-transition border-black block py-1 px-2 text-black hover:text-primary hover:bg-black font-[bold]"
            ><span>Get Started</span></a
          >
        </li>
        <li class="relative">
          <div
            *ngIf="optionsAfter_UserLogsIn === true"
            class="user h-12 w-12 overflow-hidden flex items-center justify-center rounded-[50%] cursor-pointer relative"
            (click)="showUserProfileOptions = !showUserProfileOptions"
          >
            <img
              src="/assets/images/user.jpg"
              class="w-full h-full object-cover"
              alt=""
            />
          </div>
          <div
            class="options absolute px-4 py-2 bg-white bg-opacity-70 backdrop-blur-sm rounded-md text-slate-700 text-sm font-[bold] w-28 z-50"
            *ngIf="showUserProfileOptions"
          >
            <ul class="flex flex-col gap-2">
              <li>
                <a
                  [routerLink]="['my-profile']"
                  class="custom-transition hover:text-slate-800"
                  (click)="showUserProfileOptions = !showUserProfileOptions"
                  >Profile</a
                >
              </li>
              <li>
                <a
                  [routerLink]="['my-posts']"
                  class="custom-transition hover:text-slate-800"
                  (click)="showUserProfileOptions = !showUserProfileOptions"
                  >My Posts</a
                >
              </li>
              <li>
                <a
                  class="custom-transition hover:text-slate-800 cursor-pointer"
                  (click)="loggedOut()"
                  >Logout</a
                >
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
