<nav>
  <div class="container mx-auto px-3">
    <div class="wrapper py-8">
      <div class="logo text-3xl font-[black] text-white text-center">
        <a href="/">Traverlerbies</a>
      </div>
      <ul
        class="text-white text-base flex flex-col xsm:flex-row items-center justify-center gap-5 xsm:gap-10 mt-6"
      >
        <li>
          <a
            [routerLink]="['']"
            [routerLinkActive]="'font-bold text-primary'"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li>
          <a
            [routerLink]="['#']"
            [routerLinkActive]="'font-bold text-primary'"
            [routerLinkActiveOptions]="{ exact: true }"
            >About</a
          >
        </li>
        <li>
          <a
            [routerLink]="['#']"
            [routerLinkActive]="'font-bold text-primary'"
            [routerLinkActiveOptions]="{ exact: true }"
            >Contact</a
          >
        </li>
        <li>
          <a
            [routerLink]="['#']"
            [routerLinkActive]="'font-bold text-primary'"
            [routerLinkActiveOptions]="{ exact: true }"
            >Faqs</a
          >
        </li>
        <li
          class="self-start rounded-lg font-[bold] shadow-lg custom-transition"
        >
          <a
            [routerLink]="['add-post']"
            [routerLinkActive]="'font-bold text-primary'"
            [routerLinkActiveOptions]="{ exact: true }"
            >Add Post</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
