<section class="popular py-24">
  <div class="container mx-auto px-3 flex gap-16">
    <div class="main w-full llg:w-2/3">
      <div class="mt-16">
        <div class="all-posts flex flex-col gap-16">
          <div
            class="all-post flex flex-col sm:flex-row gap-8 relative"
            *ngFor="
              let post of blogposts$
                | async
                | paginate
                  : {
                      id: 'paginate',
                      itemsPerPage: 4,
                      currentPage: page,
                      totalItems: (blogposts$ | async)?.length || 0
                    }
            "
          >
            <div
              class="post-image w-full sm:w-1/3 h-[200px] xsm:h-[350px] sm:h-[178px] relative overflow-hidden flex items-center justify-center"
            >
              <a
                (click)="populateSinglePostData(post)"
                class="w-full h-full cursor-pointer"
              >
                <img
                  src="http://localhost:3000/{{ post.image }}"
                  class="scale-[2]"
                  alt=""
                />
              </a>
            </div>
            <div class="details flex flex-1 flex-col gap-3 xsm:mt-2">
              <div class="category uppercase">
                <a
                  class="bg-slate-50 border border-transparent text-slate-200 font-[bold] px-3 py-1 cursor-default"
                >
                  <span>{{ post.category }}</span>
                </a>
              </div>
              <div class="title">
                <a (click)="populateSinglePostData(post)">
                  <h2 class="text-base font-[bold] cursor-pointer">
                    {{ post.title.substring(0, 60) + "..." }}
                  </h2>
                </a>
              </div>
              <div class="author-date flex gap-16 items-center text-sm">
                <div class="author">
                  <a href="" class="flex items-center gap-2">
                    <div
                      class="icon flex items-center justify-center w-4 max-h-4 overflow-hidden"
                    >
                      <img
                        src="/assets/icons/author.png"
                        class="invert"
                        alt=""
                      />
                    </div>
                    <div class="name"><span>mkzubairi</span></div>
                  </a>
                </div>
                <div class="date flex items-center gap-2">
                  <div
                    class="icon flex items-center justify-center w-4 h-4 overflow-hidden"
                  >
                    <img src="/assets/icons/date.svg" class="invert" alt="" />
                  </div>
                  <div>
                    <span>July 11, 2022</span>
                  </div>
                </div>
              </div>
              <div class="description text-sm">
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Soluta minima quae minus maiores tenetur mollitia commodi
                  autem ducimus voluptatem quam!
                </p>
              </div>
            </div>
            <div
              class="dots absolute top-8 sm:top-0 right-0 text-5xl flex flex-col leading-3 justify-center items-center cursor-pointer px-3 text-yellow-300"
            >
              <img src="/assets/icons/dots.png" class="rotate-90 px-3" alt="" />
            </div>
            <div
              class="b-options absolute top-8 right-6 hidden flex-col font-[bold] bg-white px-3 py-2 rounded-md bg-opacity-50 backdrop-blur-md gap-2"
            >
              <a
                (click)="sendDetailstoUpdatePage(post)"
                class="block cursor-pointer hover:text-green-800"
                >Edit</a
              >
              <a
                (click)="deletePost(post._id, post.image)"
                class="cursor-pointer hover:text-red-700 b-delete"
                >Delete</a
              >
            </div>
            <div
              class="delete-confirmation absolute top-0 w-full h-full bg-black backdrop-blur-sm bg-opacity-70 z-50 hidden justify-center items-center b-confirmation"
            >
              <div class="wrapper flex flex-col gap-3">
                <span class="text-2xl font-[bold] text-white"
                  >Do you really want to delete?</span
                >
                <div
                  class="actions w-full flex justify-center items-center gap-2"
                >
                  <a
                    class="cursor-pointer text-xl font-[medium] bg-primary bg-opacity-70 py-2 px-4 rounded-md custom-transition hover:bg-opacity-100 shadow-md b-No"
                    >No</a
                  >
                  <a
                    class="cursor-pointer text-xl font-[medium] bg-red-700 py-2 px-4 rounded-md text-white custom-transition hover:bg-red-900 shadow-md"
                    >Yes</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pagination mt-16">
          <div class="wrapper flex flex-wrap">
            <pagination-controls
              id="paginate"
              [maxSize]="5"
              (pageChange)="page = $event"
            ></pagination-controls>
          </div>
        </div>
      </div>
    </div>
    <aside class="sidebar w-1/3 llg:flex flex-col gap-16 hidden">
      <div class="search flex border-border border items-center">
        <div class="input" class="flex-1">
          <input
            type="text"
            placeholder="Search"
            class="w-full text-lg px-4 py-6"
          />
        </div>
        <a href="">
          <div class="icon px-4">
            <img src="/assets/icons/search.svg" alt="" />
          </div>
        </a>
      </div>
      <div class="sidebar-posts flex flex-col gap-8 uppercase">
        <h2 class="text-2xl font-[bold] text-center">most popular</h2>
        <app-popular-sidebar-post></app-popular-sidebar-post>
        <app-anonymous-post></app-anonymous-post>
      </div>
    </aside>
  </div>
</section>

<app-footer></app-footer>
