/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-transition {
  transition: all 400ms ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "logo";
  src: url("./assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "light";
  src: url("./assets/fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: "regular";
  src: url("./assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "medium";
  src: url("./assets/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "bold";
  src: url("./assets/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "black";
  src: url("./assets/fonts/Poppins-Black.ttf");
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: "regular";
  font-size: 1.125rem;
  color: #000000;
}

.custom-transition {
  transition: all 400ms ease;
}

input,
textarea,
select {
  &:focus {
    outline: none;
  }
}
