/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-transition {
  transition: all 400ms ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "logo";
  src: url("./assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "light";
  src: url("./assets/fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: "regular";
  src: url("./assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "medium";
  src: url("./assets/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "bold";
  src: url("./assets/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "black";
  src: url("./assets/fonts/Poppins-Black.ttf");
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: "regular";
  font-size: 1.125rem;
  color: #000000;
}

.custom-transition {
  transition: all 400ms ease;
}

input,
textarea,
select {
  &:focus {
    outline: none;
  }
}

.gradient {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.9559174011401436) 15%,
    rgba(255, 255, 255, 0) 100%
  );
}
//---------ngx-Pagination ControlS
.ngx-pagination {
  font-size: 16px !important;
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.ngx-pagination {
  li {
    display: inline-block !important;
    margin-right: 0.2rem !important;
  }
}

.ngx-pagination a,
.ngx-pagination button {
  display: block !important;
  background-color: black !important;
  color: rgb(255, 255, 255) !important;
  border: 1px solid transparent !important;
  padding: 0.5rem 1rem !important;
  cursor: pointer !important;
  transition: all 400ms ease;
  &:hover {
    background-color: white !important;
    color: black !important;
    border-color: black !important;
  }
}

.ngx-pagination {
  .current {
    border: 1px solid #000;
    background: white !important;
    color: #000000 !important;
    cursor: default !important;
    padding: 0.5rem 1rem !important;
  }
}

.ngx-pagination {
  .disabled {
    background-color: rgb(223, 223, 223);
    color: rgb(167, 165, 165) !important;
    cursor: default !important;
    padding: 0.5rem 1rem !important;
    border: 1px solid rgb(223, 223, 223);
  }
}

.ngx-pagination .pagination-previous a::before,
.ngx-pagination .pagination-previous.disabled::before {
  display: none !important;
}

.ngx-pagination .pagination-next a::after,
.ngx-pagination .pagination-next.disabled::after {
  display: none !important;
}
.ngx-pagination {
  .pagination-previous {
    a {
      background-color: black !important;
      border: 1px solid transparent;
      color: white !important;
      transition: all 400ms ease;
      &:hover {
        background-color: white !important;
        border-color: #000 !important;
        color: black !important;
      }
    }
  }
}
.ngx-pagination {
  .pagination-next {
    a {
      background-color: black !important;
      border: 1px solid transparent;
      color: white !important;
      transition: all 400ms ease;
      &:hover {
        background-color: white !important;
        border-color: #000 !important;
        color: black !important;
      }
    }
  }
}

.ngx-pagination {
  .small-screen {
    display: none !important;
  }
}
