<div class="anonymousPost mt-8 flex justify-between flex-col sm:flex-row gap-8">
  <div class="anonymous-post flex-1" *ngFor="let post of anonymousPosts">
    <div class="post-image w-full h-[400px] overflow-hidden relative">
      <a
        (click)="populateSinglePostData(post)"
        class="flex items-center justify-center w-full h-full cursor-pointer"
      >
        <img
          src="http://localhost:3000/{{ post.image }}"
          class="scale-[3]"
          alt=""
        />
      </a>
      <div
        class="a-dots absolute top-0 right-2 text-5xl flex flex-col leading-3 justify-center items-center cursor-pointer px-3 text-yellow-300"
      >
        <span>.</span>
        <span>.</span>
        <span>.</span>
      </div>
      <div
        class="a-options absolute top-8 right-6 hidden flex-col font-[bold] bg-white px-3 py-2 rounded-md bg-opacity-50 backdrop-blur-md gap-2 normal-case"
      >
        <a
          (click)="sendDetailstoUpdatePage(post)"
          class="block cursor-pointer hover:text-green-800"
          >Edit</a
        >
        <a class="cursor-pointer hover:text-red-700 a-delete">Delete</a>
      </div>
      <div
        class="delete-confirmation absolute top-0 w-full h-full bg-black backdrop-blur-sm bg-opacity-70 z-50 hidden justify-center items-center a-confirmation"
      >
        <div class="wrapper flex flex-col gap-3">
          <span class="text-2xl font-[bold] text-white text-center normal-case"
            >Do you really want to delete?</span
          >
          <div
            class="actions w-full flex justify-center items-center gap-2 normal-case"
          >
            <a
              class="cursor-pointer text-xl font-[medium] bg-primary bg-opacity-70 py-2 px-4 rounded-md custom-transition hover:bg-opacity-100 shadow-md a-No"
              >No</a
            >
            <a
              (click)="deletePost(post._id, post.image)"
              class="cursor-pointer text-xl font-[medium] bg-red-700 py-2 px-4 rounded-md text-white custom-transition hover:bg-red-900 shadow-md"
              >Yes</a
            >
          </div>
        </div>
      </div>
      <div
        class="detailes absolute bottom-0 text-white flex flex-col gap-4 px-8 py-8 gradient w-full"
      >
        <div class="title">
          <a
            (click)="populateSinglePostData(post)"
            class="text-xl font-[bold] leading-5 normal-case cursor-pointer"
            >{{ post.title.substring(0, 60) + "..." }}</a
          >
        </div>
        <div
          class="author-date flex gap-8 xl:justify-between items-center normal-case"
        >
          <div class="author">
            <a href="" class="flex items-center gap-2">
              <div
                class="icon flex items-center justify-center w-4 max-h-4 overflow-hidden"
              >
                <img src="/assets/icons/author.png" alt="" />
              </div>
              <div class="name"><span>mkzubairi</span></div>
            </a>
          </div>
          <div class="date flex items-center gap-2">
            <div
              class="icon flex items-center justify-center w-4 h-4 overflow-hidden"
            >
              <img src="/assets/icons/date.svg" alt="" />
            </div>
            <div>
              <span>July 11, 2022</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
