<div class="anonymousPost mt-8 flex justify-between flex-col sm:flex-row gap-8">
  <div class="anonymous-post flex-1" *ngFor="let post of anonymousPosts">
    <div class="post-image w-full h-[400px] overflow-hidden relative">
      <a
        (click)="moveToSinglePostPage(post._id)"
        class="flex items-center justify-center w-full h-full cursor-pointer"
      >
        <img
          src="http://localhost:3000/{{ post.image }}"
          class="scale-[3]"
          alt=""
        />
      </a>

      <div
        class="detailes absolute bottom-0 text-white flex flex-col gap-4 px-8 py-8 gradient w-full"
      >
        <div class="title">
          <a
            (click)="moveToSinglePostPage(post._id)"
            class="text-xl font-[bold] leading-5 normal-case cursor-pointer"
            >{{ post.title.substring(0, 60) + "..." }}</a
          >
        </div>
        <div
          class="author-date flex gap-8 xl:justify-between items-center normal-case"
        >
          <div class="author">
            <a href="" class="flex items-center gap-2">
              <div
                class="icon flex items-center justify-center w-4 max-h-4 overflow-hidden"
              >
                <img src="/assets/icons/author.png" alt="" />
              </div>
              <div class="name"><span>mkzubairi</span></div>
            </a>
          </div>
          <div class="date flex items-center gap-2">
            <div
              class="icon flex items-center justify-center w-4 h-4 overflow-hidden"
            >
              <img src="/assets/icons/date.svg" alt="" />
            </div>
            <div>
              <span>July 11, 2022</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
