<section class="add-post py-5 xxsm:h-screen flex items-center relative">
  <div
    class="go-back sticky w-[50px] h-[50px] top-0 left-0 xsm:top-12 xsm:left-12 self-start"
  >
    <a
      [routerLink]="['/']"
      title="Back to Home page"
      class="bg-white block bg-opacity-50 custom-transition hover:bg-opacity-60 backdrop-blur-sm p-3 rounded-[50%]"
    >
      <img src="/assets/icons/back.png" alt="" />
    </a>
  </div>
  <div class="container mx-auto px-3">
    <div class="wrapper w-full md:w-2/3 mx-auto">
      <h1 class="text-4xl font-[medium] text-white text-center mb-11">
        Write Something
      </h1>
      <form
        (ngSubmit)="submitPostForm()"
        [formGroup]="postForm"
        class="flex flex-col gap-4"
      >
        <div class="form-group flex flex-col gap-1">
          <label for="title" class="text-primary"> Title </label>
          <input
            type="text"
            formControlName="title"
            name="title"
            placeholder="Add a nice title"
            class="bg-slate-600 bg-opacity-10 focus:bg-opacity-50 backdrop-blur text-white custom transition"
          />
        </div>
        <div class="form-group flex flex-col gap-1">
          <label for="desc" class="text-primary"> Description </label>
          <textarea
            name="desc"
            id=""
            cols="30"
            rows="10"
            placeholder="Add Description"
            formControlName="body"
            class="bg-slate-600 bg-opacity-10 focus:bg-opacity-50 backdrop-blur text-white custom transition"
          ></textarea>
        </div>
        <div class="form-group flex flex-col gap-1">
          <label for="category" class="text-primary"> Choose a Caetgory </label>
          <select
            name="category"
            id=""
            formControlName="category"
            class="bg-slate-600 bg-opacity-10 focus:bg-opacity-50 backdrop-blur text-white custom transition"
          >
            <option value="" selected disabled>Choose a category</option>
            <option value="others">Other</option>
            <option value="fashion">Fashion</option>
            <option value="technology">Technology</option>
          </select>
        </div>
        <div class="form-group my-6">
          <label
            for="image"
            class="text-primary bg-slate-600 bg-opacity-40 custom-transition hover:bg-opacity-50 py-2 px-4 cursor-pointer rounded-lg"
          >
            Choose an image
          </label>
          <input
            type="file"
            class="hidden"
            id="image"
            (change)="attachFile($event)"
          />
          <div
            class="image w-full xsm:w-[450px] xsm:h-[350px] overflow-hidden"
            *ngIf="selectedImage"
          >
            <img
              [src]="selectedImage"
              alt=""
              class="p-[0.5rem] w-full scale-2"
            />
          </div>
        </div>
        <button
          [disabled]="postForm.invalid"
          type="submit"
          class="self-start bg-primary rounded-lg py-3 px-4 font-[bold] shadow-lg custom-transition hover:ml-3 cursor-pointer"
        >
          Save Post
        </button>
      </form>
    </div>
  </div>
</section>
