<swiper [pagination]="pagination" class="mySwiper">
  <ng-template swiperSlide *ngFor="let post of sliderPosts; index as i">
    <div class="sliderPost flex justify-between flex-col sm:flex-row gap-8">
      <div class="slider-post flex-1 ngf">
        <div class="post-image w-[full] h-[492px] overflow-hidden relative">
          <a
            (click)="moveToSinglePostPage(post._id)"
            class="flex items-center justify-center w-full h-full cursor-pointer"
          >
            <img
              src="http://localhost:3000/{{ post.image }}"
              class="scale-[3]"
              alt=""
            />
          </a>

          <div
            class="detailes absolute bottom-0 text-white flex flex-col gap-4 px-4 py-8 gradient w-full"
          >
            <div class="category">
              <a
                (click)="moveToCategoryPostPage(post.category)"
                class="bg-primary border border-transparent text-black custom-transition hover:bg-black hover:bg-opacity-60 hover:backdrop-blur-md hover:text-primary hover:border-primary font-[bold] px-3 py-1 cursor-pointer"
              >
                <span>{{ post.category }}</span>
              </a>
            </div>
            <div class="title">
              <a
                (click)="moveToSinglePostPage(post._id)"
                class="text-xl font-[bold] leading-5 cursor-pointer"
                >{{ post.title.substring(0, 70) + "..." }}</a
              >
            </div>
            <div class="author-date flex gap-8 xl:justify-between items-center">
              <div class="author">
                <a class="flex items-center gap-2">
                  <div
                    class="icon flex items-center justify-center w-4 max-h-4 overflow-hidden"
                  >
                    <img src="/assets/icons/author.png" alt="" />
                  </div>
                  <div class="name" *ngIf="post.author">
                    <span (click)="moveToAuthorPostsPage(post.author._id)">{{
                      post.author.firstname
                    }}</span>
                  </div>
                </a>
              </div>
              <div class="date flex items-center gap-2">
                <div
                  class="icon flex items-center justify-center w-4 h-4 overflow-hidden"
                >
                  <img src="/assets/icons/date.svg" alt="" />
                </div>
                <div>
                  <span>{{ post.createdAt | date }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</swiper>
